<!DOCTYPE html>
<html>
<head>
    <title>grades weeeeee</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <!-- For trash icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>GRADES</h1>
    <table>
        {% for row in results %}
        <tr>
            {% for val in row %}
            <td>{{val}}</td>
            {% endfor %}
            <td>
                <button onclick="deleteGrade($(this))"><i class="fa fa-trash-o"></i></button>
                <!-- <button onclick="console.log($(this).parent().parent().children()[2].innerHTML)"><i class="fa fa-trash-o"></i></button> -->
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form id="newGradeForm">
        <label><b><u>INPUT NEW GRADE:</u></b></label>
        <br>
        <label for="inputName">Name:</label>
        <input type="text" id="inputName" name="inputName" required>
        <br>
        <label for="inputGrade">Grade:</label>
        <input type="text" id="inputGrade" name="inputGrade" required>
        <br>
        <button type="submit">Add grade</button>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>